
# SP BEGIN php handler
<IfModule mod_fcgid.c>
          AddHandler fcgid-script .php .php5 .php7 .phtml
          FcgidWrapper    /usr/local/cpanel/cgi-sys/sp-ea-php72 .php
          FcgidWrapper    /usr/local/cpanel/cgi-sys/sp-ea-php72 .php5
          FcgidWrapper    /usr/local/cpanel/cgi-sys/sp-ea-php72 .php7
          FcgidWrapper    /usr/local/cpanel/cgi-sys/sp-ea-php72 .phtml
</IfModule>
# SP END php handler

