form#search-form{
    position: relative;
}

form#search-form ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow: auto;
    z-index: 1;
    border:1px solid #DDDDDD;
    border-radius: 6px;
}

span.ui-helper-hidden-accessible{
    display: none !important;
}

.ui-state-focus {
    color: #ffffff;
    background-color: #428bca;
}